@tailwind base;
@tailwind components;
@tailwind utilities;

body.swal2-shown>[aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}



.swal2-input {
  box-sizing: border-box;
  margin: 1rem !important;
  width: 90% !important;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  background: transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px transparent;
  color: inherit;
  font-size: 1.125em;
}

.swal2-popup {
  opacity: .95 !important;
}

html.dark .swal2-popup {
  background-color: #030303 !important;
  color: #fff !important;
}

.responseCode {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025em;
  font-weight: 900;
}